{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1> Post ID Page </h1>
            <div>
            	<strong>Title</strong>: {{ title }}
            	<strong>Body</strong>: {{ body }}
            	<strong>Author</strong>: {{ authorName }}
            </div>
        </div>
    </div>
{% endblock %}

