{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1> Get All Posts Page </h1>
            {% for post in posts %}
             	<strong>Title</strong>: {{ post.title }}
            	<strong>Body</strong>: {{ post.body }}
            	<strong>Author</strong>: {{ post.authorName }}}}
            {% endfor %}
        </div>
    </div>
{% endblock %}

